// Variable - start with dollar sign
$yellow: #ead31f;
$black: #0a0a0a;

$main-font: 'Roboto';

body{
    background: $yellow;
    font-family: $main-font;

    // we can also define variables in global scope inside of a selector
    $padding: 2em!global;
    // And then use the variables
    padding: $padding;

}

p {
    padding: $padding!important;
}

// Maps are defined as such

$myColors: (dark: #0c425c, red: #c54254, weight: bold);

p {
    color: map-get($myColors, dark);
    font-weight: map-get($myColors, weight);
}

